html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  --color-blue: #2699fb;
  --color-blue0: #f1f9ff;
  --color-blue1: #abd8fe;
  --color-blue2: #e2f0fa;
  --color-white: #fff;
  --color-black: #000;
}
