.first {
  background: var(--color-blue0);
  width: 100vw;
  height: 80vh;
  padding: 35px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first .firstContent .title {
  display: flex;
  color: var(--color-blue);
  font-weight: 700;
  font-size: 27px;
  margin-bottom: 20px;
}
.first .firstContent .title .leftTitle {
  color: var(--color-blue);
}
.coach {
  color: var(--color-blue1);
}
.first .firstContent .searchParent {
  display: flex;
  justify-content: center;
}
.first .firstContent .searchParent .citiesDropdown,
.first .firstContent .searchParent .citiesDropdown:hover {
  color: var(--color-blue);
  background-color: var(--color-blue2);
  border-color: var(--color-blue1);
  border-radius: 5px;
  padding: 10px 10px;
  outline: none;
}
.first .firstContent .searchParent .searchInput,
.first .firstContent .searchParent .searchInput:hover,
.first .firstContent .searchParent .searchInput:active,
.first .firstContent .searchParent .searchInput:focus,
.first .firstContent .searchParent .searchInput {
  background: var(--color-blue0);
  box-shadow: none;
  border-color: var(--color-blue1);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
  outline: none;
}
.first .firstContent .searchParent .searchBtn {
  background: var(--color-blue);
  color: var(--color-white);
  font-size: 13px;
  padding: 0px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first .firstContent .searchParent .searchOptions {
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
  text-decoration: underline;
  color: #808080;
  margin-top: 10px;
}
.first .firstContent .searchParent .searchOptionItem {
  margin: 0 10px;
}
