.nav {
  height: 85px;
  padding: 0 45px;
  background: var(--color-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
}
.nav ul {
  margin-bottom: 0;
}
.title a,
.title a:hover {
  all: unset;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.menu a {
  all: unset;
  cursor: pointer;
  margin: 0 10px;
  text-align: center;
}
.menu a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-white);
}
